<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>donghua_0000</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{365,515}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{365.00,515.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>donghua.png</string>
      <key>realTextureFileName</key>
      <string>donghua.png</string>
      <key>textureFileName</key>
      <string>donghua.png</string>
      <key>size</key>
      <string>{367,517}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>a1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>16</integer>
        <key>rect</key>
        <string>0,0,365.00,515.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>__id0_</key>
          <dict>
            <key>class</key>
            <string>a2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,515.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|2.77,515.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|11.01,515.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|24.45,515.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|42.70,515.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|65.19,515.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|91.25,515.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|150.81,515.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|182.50,515.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|214.19,515.00,180.00,1.00000,1.00000,1.00,0,0.00,0.00|244.92,515.00,180.00,1.00000,1.00000,1.00,0,0.00,0.00|273.75,515.00,180.00,1.00000,1.00000,1.00,0,0.00,0.00|299.81,515.00,180.00,1.00000,1.00000,1.00,0,0.00,0.00|322.30,515.00,180.00,1.00000,1.00000,1.00,0,0.00,0.00|340.55,515.00,180.00,1.00000,1.00000,1.00,0,0.00,0.00|353.99,515.00,180.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>