<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>GameBegin_0000</key>
      <dict>
        <key>frame</key>
        <string>{{427,509},{137,157}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{137.00,157.00}</string>
      </dict>
      <key>GameBegin_0001</key>
      <dict>
        <key>frame</key>
        <string>{{486,975},{125,119}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{125.00,119.00}</string>
      </dict>
      <key>GameBegin_0002</key>
      <dict>
        <key>frame</key>
        <string>{{427,826},{135,147}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{135.00,147.00}</string>
      </dict>
      <key>GameBegin_0003</key>
      <dict>
        <key>frame</key>
        <string>{{245,1083},{239,209}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{239.00,209.00}</string>
      </dict>
      <key>GameBegin_0004</key>
      <dict>
        <key>frame</key>
        <string>{{427,1},{237,204}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{237.00,204.00}</string>
      </dict>
      <key>GameBegin_0005</key>
      <dict>
        <key>frame</key>
        <string>{{427,668},{136,156}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{136.00,156.00}</string>
      </dict>
      <key>GameBegin_0006</key>
      <dict>
        <key>frame</key>
        <string>{{478,1294},{63,54}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{63.00,54.00}</string>
      </dict>
      <key>GameBegin_0007</key>
      <dict>
        <key>frame</key>
        <string>{{1,1294},{164,33}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{164.00,33.00}</string>
      </dict>
      <key>GameBegin_0008</key>
      <dict>
        <key>frame</key>
        <string>{{1,1083},{242,204}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{242.00,204.00}</string>
      </dict>
      <key>GameBegin_0009</key>
      <dict>
        <key>frame</key>
        <string>{{323,1294},{153,33}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{153.00,33.00}</string>
      </dict>
      <key>GameBegin_0010</key>
      <dict>
        <key>frame</key>
        <string>{{1,1329},{161,33}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{161.00,33.00}</string>
      </dict>
      <key>GameBegin_0011</key>
      <dict>
        <key>frame</key>
        <string>{{164,1329},{161,33}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{161.00,33.00}</string>
      </dict>
      <key>GameBegin_0012</key>
      <dict>
        <key>frame</key>
        <string>{{167,1294},{154,33}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{154.00,33.00}</string>
      </dict>
      <key>GameBegin_0013</key>
      <dict>
        <key>frame</key>
        <string>{{427,1006},{24,25}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{24.00,25.00}</string>
      </dict>
      <key>GameBegin_0014</key>
      <dict>
        <key>frame</key>
        <string>{{427,207},{220,300}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{220.00,300.00}</string>
      </dict>
      <key>GameBegin_0015</key>
      <dict>
        <key>frame</key>
        <string>{{427,975},{32,29}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{32.00,29.00}</string>
      </dict>
      <key>GameBegin_0016</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{424,1080}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{424.00,1080.00}</string>
      </dict>
      <key>GameBegin_0017</key>
      <dict>
        <key>frame</key>
        <string>{{327,1329},{121,33}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{121.00,33.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>GameBegin.png</string>
      <key>realTextureFileName</key>
      <string>GameBegin.png</string>
      <key>textureFileName</key>
      <string>GameBegin.png</string>
      <key>size</key>
      <string>{726,1382}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a2</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.48175</real>
        <key>anchorY</key>
        <real>0.50955</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a3</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50840</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a33</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a4</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.42259</real>
        <key>anchorY</key>
        <real>0.55502</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a5</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.58017</real>
        <key>anchorY</key>
        <real>0.40686</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>a6</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.49265</real>
        <key>anchorY</key>
        <real>0.51282</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>a7</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.49074</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>a72</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.48780</real>
        <key>anchorY</key>
        <real>-0.46970</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>a8</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.42149</real>
        <key>anchorY</key>
        <real>0.55882</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>tzjl_btn</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>yxsx_btn2</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>yxwf_btn</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>a32</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.54167</real>
        <key>anchorY</key>
        <real>0.48000</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
      <key>a66</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
      <key>a69</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>15</integer>
        <key>end</key>
        <integer>15</integer>
      </dict>
      <key>a75</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>16</integer>
        <key>end</key>
        <integer>16</integer>
      </dict>
      <key>ayxsx</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>17</integer>
        <key>end</key>
        <integer>17</integer>
      </dict>
      <key>a1</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>url</key>
        <string>GameBegin/a1.png</string>
      </dict>
      <key>a30</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.00185</real>
        <key>anchorY</key>
        <real>-0.00367</real>
        <key>url</key>
        <string>GameBegin/a30.png</string>
      </dict>
      <key>a74</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>GameBegin/a74.png</string>
      </dict>
      <key>a76</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>url</key>
        <string>GameBegin/a76.png</string>
      </dict>
      <key>a77</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.41990</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>url</key>
        <string>GameBegin/a77.png</string>
      </dict>
      <key>a78</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.47801</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>url</key>
        <string>GameBegin/a78.png</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>BeginScene</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,850.00,1336.00</string>
        <key>anchorX</key>
        <real>0.49906</real>
        <key>anchorY</key>
        <real>0.50079</real>
        <key>children</key>
        <dict>
          <key>btn_gsc</key>
          <dict>
            <key>class</key>
            <string>a4</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>700.60,140.40,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>btn_jjc</key>
          <dict>
            <key>class</key>
            <string>a5</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>448.10,112.80,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>userimg</key>
          <dict>
            <key>class</key>
            <string>a30</string>
            <key>zIndex</key>
            <integer>11</integer>
            <key>frames</key>
            <string>56.50,1197.50,0.00,1.01051,1.01132,1.00,11,0.00,0.00</string>
          </dict>
          <key>btn_mrfl</key>
          <dict>
            <key>class</key>
            <string>a6</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>732.60,884.15,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>userbean</key>
          <dict>
            <key>class</key>
            <string>num</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>243.65,1253.50,0.00,1.00000,1.00000,1.00,10,0.00,0.00,楷体-简 粗体,35,#FFFFFF,left,347,53</string>
            <key>text</key>
            <string>0</string>
            <key>input</key>
            <false/>
          </dict>
          <key>btn_th</key>
          <dict>
            <key>class</key>
            <string>a2</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>732.60,1080.10,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>btn_xsc</key>
          <dict>
            <key>class</key>
            <string>a8</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>112.60,140.40,0.00,1.00000,1.00000,1.00,8,0.00,0.00</string>
          </dict>
          <key>img</key>
          <dict>
            <key>class</key>
            <string>a1</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>425.00,667.00,0.00,1.13332,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>caidanrq</key>
          <dict>
            <key>class</key>
            <string>caidanrq</string>
            <key>zIndex</key>
            <integer>14</integer>
            <key>frames</key>
            <string>651.20,537.05,0.00,1.00000,1.00000,1.00,14,0.00,0.00</string>
          </dict>
          <key>hongdian</key>
          <dict>
            <key>class</key>
            <string>a32</string>
            <key>zIndex</key>
            <integer>12</integer>
            <key>frames</key>
            <string>783.10,934.10,0.00,1.00000,1.00000,1.00,12,0.00,0.00</string>
          </dict>
          <key>username</key>
          <dict>
            <key>class</key>
            <string>num</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>195.10,1323.80,0.00,1.00000,1.00000,1.00,9,0.00,0.00,楷体-简 粗体,40,#FFFFFF,left,439,67</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
          <key>adimn</key>
          <dict>
            <key>class</key>
            <string>a31</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>419.25,604.80,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>btn_bean</key>
          <dict>
            <key>class</key>
            <string>a7</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>211.15,1226.00,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>btn_sz</key>
          <dict>
            <key>class</key>
            <string>a33</string>
            <key>zIndex</key>
            <integer>13</integer>
            <key>frames</key>
            <string>732.60,684.55,0.00,1.00000,1.00000,1.00,13,0.00,0.00</string>
          </dict>
          <key>btn_fh</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>732.60,1262.30,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a31</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>22</integer>
        <key>rect</key>
        <string>0,0,451.00,1080.00</string>
        <key>anchorX</key>
        <real>0.47007</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i31284</key>
          <dict>
            <key>class</key>
            <string>a78</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||225.50,540.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||||||||||||</string>
          </dict>
          <key>i31290</key>
          <dict>
            <key>class</key>
            <string>a76</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||||||||||||||245.00,540.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|||</string>
          </dict>
          <key>i31288</key>
          <dict>
            <key>class</key>
            <string>a77</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||||||||||||212.00,540.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00||null|||</string>
          </dict>
          <key>i31286</key>
          <dict>
            <key>class</key>
            <string>a76</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||||245.00,540.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|||||||||null|||||</string>
          </dict>
          <key>i31073</key>
          <dict>
            <key>class</key>
            <string>a74</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,1080.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00||||||null|||||||||||||||</string>
          </dict>
        </dict>
      </dict>
      <key>caidanrq</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,220.00,300.00</string>
        <key>anchorX</key>
        <real>0.43636</real>
        <key>anchorY</key>
        <real>0.75333</real>
        <key>children</key>
        <dict>
          <key>tzjl_btn</key>
          <dict>
            <key>class</key>
            <string>tzjl_btn</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>32.00,163.50,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i31099</key>
          <dict>
            <key>class</key>
            <string>a66</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,300.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>yxsx_btn2</key>
          <dict>
            <key>class</key>
            <string>a72</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>112.00,26.55,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>yxsx_btn</key>
          <dict>
            <key>class</key>
            <string>yxsx_btn2</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>32.00,75.05,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>yxwf_btn</key>
          <dict>
            <key>class</key>
            <string>yxwf_btn</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>32.00,248.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>