<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>chongzhi_0000</key>
      <dict>
        <key>frame</key>
        <string>{{586,626},{82,79}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{82.00,79.00}</string>
      </dict>
      <key>chongzhi_0001</key>
      <dict>
        <key>frame</key>
        <string>{{581,1152},{556,126}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{556.00,126.00}</string>
      </dict>
      <key>chongzhi_0002</key>
      <dict>
        <key>frame</key>
        <string>{{1,421},{583,729}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{583.00,729.00}</string>
      </dict>
      <key>chongzhi_0003</key>
      <dict>
        <key>frame</key>
        <string>{{586,448},{262,57}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{262.00,57.00}</string>
      </dict>
      <key>chongzhi_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1,1152},{578,121}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{578.00,121.00}</string>
      </dict>
      <key>chongzhi_0005</key>
      <dict>
        <key>frame</key>
        <string>{{586,507},{235,117}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{235.00,117.00}</string>
      </dict>
      <key>chongzhi_0006</key>
      <dict>
        <key>frame</key>
        <string>{{586,1},{443,445}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{443.00,445.00}</string>
      </dict>
      <key>chongzhi_0007</key>
      <dict>
        <key>frame</key>
        <string>{{1,1280},{33,47}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{33.00,47.00}</string>
      </dict>
      <key>chongzhi_0008</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{583,418}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{583.00,418.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>chongzhi.png</string>
      <key>realTextureFileName</key>
      <string>chongzhi.png</string>
      <key>textureFileName</key>
      <string>chongzhi.png</string>
      <key>size</key>
      <string>{1186,1332}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a10</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>-0.01220</real>
        <key>anchorY</key>
        <real>1.01266</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a11</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00036</real>
        <key>anchorY</key>
        <real>0.12698</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a12</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a14</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a15</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>a16</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>a17</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>a18</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>a8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.59691</real>
        <key>anchorY</key>
        <real>0.09091</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>layer</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,616.30,1152.45</string>
        <key>anchorX</key>
        <real>0.52247</real>
        <key>anchorY</key>
        <real>0.36592</real>
        <key>children</key>
        <dict>
          <key>xin_8</key>
          <dict>
            <key>class</key>
            <string>a18</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>276.00,933.45,0.00,1.00000,1.00000,1.00,9,0.00,0.00</string>
          </dict>
          <key>xin_9</key>
          <dict>
            <key>class</key>
            <string>a18</string>
            <key>zIndex</key>
            <integer>13</integer>
            <key>frames</key>
            <string>312.70,986.45,0.00,1.00000,1.00000,1.00,13,0.00,0.00</string>
          </dict>
          <key>xin_7</key>
          <dict>
            <key>class</key>
            <string>a18</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>228.95,943.60,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>xin_2</key>
          <dict>
            <key>class</key>
            <string>a18</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>416.95,896.45,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>halo</key>
          <dict>
            <key>class</key>
            <string>a17</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>314.95,863.45,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>xin_13</key>
          <dict>
            <key>class</key>
            <string>a18</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>443.95,926.45,0.00,1.00000,1.00000,1.00,10,0.00,0.00</string>
          </dict>
          <key>i31802</key>
          <dict>
            <key>class</key>
            <string>a14</string>
            <key>zIndex</key>
            <integer>19</integer>
            <key>frames</key>
            <string>319.95,797.45,0.00,1.00000,1.00000,1.00,19,0.00,0.00</string>
          </dict>
          <key>xin_10</key>
          <dict>
            <key>class</key>
            <string>a18</string>
            <key>zIndex</key>
            <integer>11</integer>
            <key>frames</key>
            <string>312.70,954.50,0.00,1.00000,1.00000,1.00,11,0.00,0.00</string>
          </dict>
          <key>xin_12</key>
          <dict>
            <key>class</key>
            <string>a18</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>353.00,943.45,0.00,1.00000,1.00000,1.00,8,0.00,0.00</string>
          </dict>
          <key>i31796</key>
          <dict>
            <key>class</key>
            <string>a12</string>
            <key>zIndex</key>
            <integer>16</integer>
            <key>frames</key>
            <string>318.10,364.50,0.00,1.00000,1.00000,1.00,16,0.00,0.00</string>
          </dict>
          <key>xin_4</key>
          <dict>
            <key>class</key>
            <string>a18</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>410.95,969.45,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>btn</key>
          <dict>
            <key>class</key>
            <string>a10</string>
            <key>zIndex</key>
            <integer>20</integer>
            <key>frames</key>
            <string>517.50,813.95,0.00,1.00000,1.00000,1.00,20,0.00,0.00</string>
          </dict>
          <key>xin_3</key>
          <dict>
            <key>class</key>
            <string>a18</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>263.00,995.45,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>xin_1</key>
          <dict>
            <key>class</key>
            <string>a18</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>195.95,879.45,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>itemimg</key>
          <dict>
            <key>class</key>
            <string>a11</string>
            <key>zIndex</key>
            <integer>18</integer>
            <key>frames</key>
            <string>40.50,606.50,0.00,1.00000,1.00000,1.00,18,0.00,0.00</string>
          </dict>
          <key>xin_6</key>
          <dict>
            <key>class</key>
            <string>a18</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>181.95,943.45,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>i31792</key>
          <dict>
            <key>class</key>
            <string>a16</string>
            <key>zIndex</key>
            <integer>14</integer>
            <key>frames</key>
            <string>315.95,861.60,0.00,1.00000,1.00000,1.00,14,0.00,0.00</string>
          </dict>
          <key>xin_5</key>
          <dict>
            <key>class</key>
            <string>a18</string>
            <key>zIndex</key>
            <integer>12</integer>
            <key>frames</key>
            <string>243.00,886.45,0.00,1.00000,1.00000,1.00,12,0.00,0.00</string>
          </dict>
          <key>xin_11</key>
          <dict>
            <key>class</key>
            <string>a18</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>345.70,995.45,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>i31794</key>
          <dict>
            <key>class</key>
            <string>a8</string>
            <key>zIndex</key>
            <integer>15</integer>
            <key>frames</key>
            <string>375.30,451.75,0.00,1.00000,1.00000,1.00,15,0.00,0.00</string>
          </dict>
          <key>i31798</key>
          <dict>
            <key>class</key>
            <string>a15</string>
            <key>zIndex</key>
            <integer>17</integer>
            <key>frames</key>
            <string>323.60,795.45,0.00,1.00000,1.00000,1.00,17,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>