<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>GameEnd_0000</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{583,729}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{583.00,729.00}</string>
      </dict>
      <key>GameEnd_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1,1152},{578,121}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{578.00,121.00}</string>
      </dict>
      <key>GameEnd_0002</key>
      <dict>
        <key>frame</key>
        <string>{{581,1263},{212,57}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{212.00,57.00}</string>
      </dict>
      <key>GameEnd_0003</key>
      <dict>
        <key>frame</key>
        <string>{{581,1152},{333,109}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{333.00,109.00}</string>
      </dict>
      <key>GameEnd_0004</key>
      <dict>
        <key>frame</key>
        <string>{{586,1},{443,445}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{443.00,445.00}</string>
      </dict>
      <key>GameEnd_0005</key>
      <dict>
        <key>frame</key>
        <string>{{1,732},{583,418}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{583.00,418.00}</string>
      </dict>
      <key>GameEnd_0006</key>
      <dict>
        <key>frame</key>
        <string>{{586,569},{161,226}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{161.00,226.00}</string>
      </dict>
      <key>GameEnd_0007</key>
      <dict>
        <key>frame</key>
        <string>{{586,448},{216,119}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{216.00,119.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>GameEnd.png</string>
      <key>realTextureFileName</key>
      <string>GameEnd.png</string>
      <key>textureFileName</key>
      <string>GameEnd.png</string>
      <key>size</key>
      <string>{1086,1332}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a12</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a15</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a16</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a18</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a19</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>a2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.01201</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>a3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>aaa</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>layer</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,596.00,1078.90</string>
        <key>anchorX</key>
        <real>0.50084</real>
        <key>anchorY</key>
        <real>0.34151</real>
        <key>children</key>
        <dict>
          <key>i13934</key>
          <dict>
            <key>class</key>
            <string>aaa</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>293.45,864.70,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i13942</key>
          <dict>
            <key>class</key>
            <string>a12</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>299.00,364.50,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>i13936</key>
          <dict>
            <key>class</key>
            <string>a15</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>298.50,791.25,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i13930</key>
          <dict>
            <key>class</key>
            <string>a19</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>299.50,856.40,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>img</key>
          <dict>
            <key>class</key>
            <string>a2</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>0.00,833.95,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i13938</key>
          <dict>
            <key>class</key>
            <string>a16</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>291.45,787.70,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>i13940</key>
          <dict>
            <key>class</key>
            <string>a18</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>307.45,834.70,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>