<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>guize_0000</key>
      <dict>
        <key>frame</key>
        <string>{{1,1209},{60,60}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{60.00,60.00}</string>
      </dict>
      <key>guize_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{750,1206}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{750.00,1206.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>guize.png</string>
      <key>realTextureFileName</key>
      <string>guize.png</string>
      <key>textureFileName</key>
      <string>guize.png</string>
      <key>size</key>
      <string>{752,1308}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a5</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>layer</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,384.15,1324.90</string>
        <key>anchorX</key>
        <real>0.01874</real>
        <key>anchorY</key>
        <real>0.00604</real>
        <key>children</key>
        <dict>
          <key>btn</key>
          <dict>
            <key>class</key>
            <string>a5</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>55.20,1294.90,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>