<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,54}</string>
                <key>spriteSourceSize</key>
                <string>{52,54}</string>
                <key>textureRect</key>
                <string>{{26,0},{52,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pukeBj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,226}</string>
                <key>spriteSourceSize</key>
                <string>{161,226}</string>
                <key>textureRect</key>
                <string>{{820,0},{161,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tishiimg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,49}</string>
                <key>spriteSourceSize</key>
                <string>{538,49}</string>
                <key>textureRect</key>
                <string>{{0,226},{538,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yz_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,111}</string>
                <key>spriteSourceSize</key>
                <string>{109,111}</string>
                <key>textureRect</key>
                <string>{{711,0},{109,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yz_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,110}</string>
                <key>spriteSourceSize</key>
                <string>{106,110}</string>
                <key>textureRect</key>
                <string>{{499,0},{106,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yz_1000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,105}</string>
                <key>spriteSourceSize</key>
                <string>{103,105}</string>
                <key>textureRect</key>
                <string>{{78,0},{103,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yz_2500.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,109}</string>
                <key>spriteSourceSize</key>
                <string>{106,109}</string>
                <key>textureRect</key>
                <string>{{287,0},{106,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yz_300.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,109}</string>
                <key>spriteSourceSize</key>
                <string>{106,109}</string>
                <key>textureRect</key>
                <string>{{181,0},{106,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yz_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,110}</string>
                <key>spriteSourceSize</key>
                <string>{106,110}</string>
                <key>textureRect</key>
                <string>{{393,0},{106,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yz_500.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,110}</string>
                <key>spriteSourceSize</key>
                <string>{106,110}</string>
                <key>textureRect</key>
                <string>{{605,0},{106,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>IMG.png</string>
            <key>size</key>
            <string>{981,275}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6af757a90c7abd62b3df4bac32ce1b3:a98cf4120ac21dfe6ce8c035c174ce70:49131112b6449eeef640ad11cabeb8f6$</string>
            <key>textureFileName</key>
            <string>IMG.png</string>
        </dict>
    </dict>
</plist>
